In [1]:
import pandas as pd

# Работа с Pandas

Загрузите ваш DataFrame в переменную df методом pd.read_csv() и выведете на экран первые пять строк

In [2]:
df = pd.read_csv('googleplaystore.csv')
df.head(5)

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

Отобразите количество строк и столбцов в DataFrame

In [3]:
df.shape

(10841, 13)


 Выведете основную информацию о DataFrame методом info(). Проанализируйте есть ли пропуски в столбцах. Напишите вывод о том, какие столбцы содержат пропуски

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

## В данном датасете есть пропуски в столбах Rating, Type, Content Rating, Current Ver, Android Ver

Удалите или замените пропуски известными вам методами. (Подсказка: `dropna()` или `fillna()`, выбор того или иного метода должен быть аргументирован).

In [5]:
# Для начала переминуем столбцы с пробелами на них же с нижним подчеркиванием для простоты использования в дальнейшем
df.rename(columns={'Content Rating': 'Content_Rating', 'Current Ver': 'Current_Ver', 
                   'Last Updated': 'Last_Updated', 'Android Ver': 'Android_Ver'}, inplace=True)

df.Rating = df.Rating.fillna(df.Rating.median()) # медиану (median()) стоит использовать, потому так мы сможем заполнить болле-менее нормальынми значениями

df.Content_Rating.fillna('Unknown', inplace=True) # во всех номинативных переменных не стоит гадать, а сказать как как есть, что занчение не извество

df.Type.fillna('Unknown', inplace=True)
df.Current_Ver.fillna('Unknown', inplace=True)
df.Android_Ver.fillna('Unknown', inplace=True)

Проверьте нет ли пропусков после произведенной обработки

In [6]:
df.isna()

         App  Category  Rating  ...  Last_Updated  Current_Ver  Android_Ver
0      False     False   False  ...         False        False        False
1      False     False   False  ...         False        False        False
2      False     False   False  ...         False        False        False
3      False     False   False  ...         False        False        False
4      False     False   False  ...         False        False        False
...      ...       ...     ...  ...           ...          ...          ...
10836  False     False   False  ...         False        False        False
10837  False     False   False  ...         False        False        False
10838  False     False   False  ...         False        False        False
10839  False     False   False  ...         False        False        False
10840  False     False   False  ...         False        False        False

[10841 rows x 13 columns]

Измените тип данных столбца Price на числовой с помощью метода `.astype()` :

In [7]:
df.Price = df.Price.astype(int)
df.Price

0        0
1        0
2        0
3        0
4        0
        ..
10836    0
10837    0
10838    0
10839    0
10840    0
Name: Price, Length: 10841, dtype: int32

Выведите на экран медиану и среднее арифметическое столбцов:
 - Rating
 - Reviews

In [8]:
print(f'Медиана столбца Rating: {df.Rating.median()}')
print(f'Среднее столбца Rating: {df.Rating.mean().round(2)}') # срз округлим до двух знаков после запятой
a = [int(i) for i in df.Reviews if i.isdigit()] # применяю костыль, потому в столбце есть строки, которые не могут ни int, ни float
# Применяю перевод в int и isdigit, потому что Reviews — количество отзывов, а чилсо их не может быть не целым
# Объясните, пожалуйста, как нужно было сделать правильно :)
df.Reviews = pd.Series(a)
print(f'Медиана столбца Reviews: {df.Reviews.median()}')
print(f'Среднее столбца Reviews: {df.Reviews.mean().round(2)}') # срз округлим до двух знаков после запятой

Медиана столбца Rating: 4.3
Среднее столбца Rating: 4.21
Медиана столбца Reviews: 2094.0
Среднее столбца Reviews: 444152.9

Выведите на экран все уникальные значения категориального столбца Genres

In [9]:
df.Genres.unique()

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Art & Design;Action & Adventure',
       'Auto & Vehicles', 'Beauty', 'Books & Reference', 'Business',
       'Comics', 'Comics;Creativity', 'Communication', 'Dating',
       'Education;Education', 'Education', 'Education;Creativity',
       'Education;Music & Video', 'Education;Action & Adventure',
       'Education;Pretend Play', 'Education;Brain Games', 'Entertainment',
       'Entertainment;Music & Video', 'Entertainment;Brain Games',
       'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Lifestyle;Pretend Play',
       'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
       'Casual;Pretend Play', 'Action', 'Strategy', 'Puzzle', 'Sports',
       'Music', 'Word', 'Racing', 'Casual;Creativity',
       'Casual;Action & Adventure', 'Simulation', 'Adventure', 'Board',
       'Trivia', 'Role Playing', 'Simulation;Education',
       'Action;Action & Adventure', 'Casual;Brain Games',
       'Simulation;Action & Adventure', 'Educational;Creativity',
       'Puzzle;Brain Games', 'Educational;Education', 'Card;Brain Games',
       'Educational;Brain Games', 'Educational;Pretend Play',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Racing;Action & Adventure',
       'Arcade;Pretend Play', 'Role Playing;Action & Adventure',
       'Simulation;Pretend Play', 'Puzzle;Creativity',
       'Sports;Action & Adventure', 'Educational;Action & Adventure',
       'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
       'Puzzle;Action & Adventure', 'Strategy;Action & Adventure',
       'Music & Audio;Music & Video', 'Health & Fitness;Education',
       'Adventure;Education', 'Board;Brain Games',
       'Board;Action & Adventure', 'Board;Pretend Play',
       'Casual;Music & Video', 'Role Playing;Pretend Play',
       'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
       'Card;Action & Adventure', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Tools;Education',
       'Personalization', 'Productivity', 'Parenting',
       'Parenting;Music & Video', 'Parenting;Education',
       'Parenting;Brain Games', 'Weather', 'Video Players & Editors',
       'Video Players & Editors;Music & Video', 'News & Magazines',
       'Maps & Navigation', 'Health & Fitness;Action & Adventure',
       'Educational', 'Casino', 'Adventure;Brain Games',
       'Trivia;Education', 'Lifestyle;Education',
       'Books & Reference;Creativity', 'Books & Reference;Education',
       'Puzzle;Education', 'Role Playing;Education',
       'Role Playing;Brain Games', 'Strategy;Education',
       'Racing;Pretend Play', 'Communication;Creativity',
       'February 11, 2018', 'Strategy;Creativity'], dtype=object)

Сгруппируйте данные по столбцу `Genres` и посчитайте для каждого жанра средний и медианный рейтинг. Представьте результат в виде нового DataFrame,который будет сохранен в переменную `grouped_df`, где одна колонка будет содержать названия жарнов, а две другие буду содержать в себе средний и медианный рейтинги. Напишите краткий вывод.

In [10]:
grouped_df = df.groupby(by='Genres', as_index=False).agg(Rating_mean = ('Rating','mean'),
                                                         Rating_median = ('Rating','median')).round(2) # значения ср и медианы округляем до двух знаков 

grouped_df
# Ну что можно сказать... В наше время пишут хорошие игры по интересным жанрам

                                    Genres  Rating_mean  Rating_median
0                                   Action         4.29            4.3
1                Action;Action & Adventure         4.31            4.3
2                                Adventure         4.18            4.3
3             Adventure;Action & Adventure         4.42            4.5
4                    Adventure;Brain Games         4.60            4.6
..                                     ...          ...            ...
115                Video Players & Editors         4.08            4.3
116     Video Players & Editors;Creativity         4.10            4.1
117  Video Players & Editors;Music & Video         4.00            4.0
118                                Weather         4.25            4.3
119                                   Word         4.41            4.4

[120 rows x 3 columns]

Из получившегося датафрейма выведите на экран только те жанры, чей медианный рейтинг больше 4.5. Напишите краткий вывод.

In [11]:
grouped_df.Genres[grouped_df.Rating_median > 4.5]
# Люди любят совмещать жанры, и смеси получаетюся наиболее успешные игры

4            Adventure;Brain Games
11         Art & Design;Creativity
18              Board;Pretend Play
35               Comics;Creativity
55        Entertainment;Creativity
60               February 11, 2018
65      Health & Fitness;Education
75             Music;Music & Video
88                Puzzle;Education
106    Strategy;Action & Adventure
Name: Genres, dtype: object

Выведете кол-во дубликатов в основном DataFrame (df) и удалите их

In [12]:
print(len(df)- len(df.drop_duplicates())) # подсчет дубликатов для каждой уникальной строки 
df.drop_duplicates(inplace=True) # сохраняем данные, удаляя дубликаты

482

Посчитатайте какое количество игр содержится в каждом жанре (value_counts). Выведите на экран топ-10 игр по количеству в жанре. Напишите краткий вывод.

In [13]:
df.value_counts("Genres").head(10).sort_values()
# Наиболее популярен жанр Tools, менее популярен Lifestyle

Genres
Sports             364
Communication      366
Lifestyle          372
Personalization    388
Productivity       407
Medical            409
Business           427
Education          527
Entertainment      588
Tools              842
dtype: int64

## Здравствуйте, проверяющий, когда я смотрел видео материал по курсу, увидел, что Куратор Ирюхин Кирилл работал c блонкнотом в юпитере, в котором разбирал numpy.
## А можно его тоже скинуть в общий доступ (как Pandas)? Хорошая "шпора" :)